<div class="productos">

    <div class="card">
        <img src="../../assets/chompa.jfif" class="card-img-top" alt="chompa">
        <div class="card-body">
            <h5 class="card-title">Chompa Casual Mujer Sybilla</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-lila w-100">Comprar</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/blusa.jfif" class="card-img-top" alt="blusa">
        <div class="card-body">
            <h5 class="card-title">Blusa Manga Larga Mujer Sybilla</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-lila w-100">Comprar</a>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/polo.jfif" class="card-img-top" alt="polo">
        <div class="card-body">
            <h5 class="card-title">Polo Manga Larga Mujer Sybilla</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-lila w-100">Comprar</a>
        </div>
    </div>

</div>



